doctype html
html lang="zh-TW"
	head
		meta charset="utf-8"
		title EDUPAL: 我的學習好朋友
		meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
		meta content= data["site-title"] property="og:title"
		meta content= data["site-name"] property="og:site_name"
		meta content= data["site-url"] property="og:url"
		meta content= data["og-image"] property="og:image"
		meta content= data["site-description"] property="og:description"
		meta content= data["og-type"] property="og:type"
		meta content= data["fb-admins"] property="fb:admins"
		link href="./stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css"
		/ /[if IE]
		/ 	== stylesheet_link_tag "ie"
		/ /[if lt IE 9]
		/ 	== javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"
	body
		.header
			.tap-bar
			.bg-clouds-back
				.bg-clouds-front
					.container
						.shuttle-logo-wrapper
							.shuttle-logo SHUTTLE
						.logo-groups
							a.email href='mailto:EDUPAL@tw.shuttle.com' EDUPAL@tw.shuttle.com
							a.edupal-logo href='http://edupal.tw.shuttle.com/ebook_web/?md=tw&cl=index&at=index' EDUPAL
			.nav-wrapper
				.container
					h3.no 第 038 期
					ul.nav
						li.nav-list.item-01: a href='#SECTION-01' 活動報導
						li.nav-list.item-02: a href='#SECTION-02' 好書報報
						li.nav-list.item-03: a href='#SECTION-03' 教育一點靈

		.content
			#SECTION-00.section-odd
				.container
					h2.heading style="color: #8cc13f;" 優惠方案限量實施中！
					.content
						p style="color: #8cc13f; font-size: 15px;"
							| 104年第一次電腦軟體共同供應契約採購，EDUPAL®行動圖書館（1,000人版）已上架！組別為第16組第244項，歡迎選購！
			
			#SECTION-01.section-even
				.container
					h1.section-title
						span.section__title-icon
						span.section__title 活動報導
					h2.heading 活動報導 台北市103學年度國民中小學校長科技領導研習
					.content
						.right
							img.img src='images/assets/038/038-section-01-01.jpg'
							p.img-note 台北市103學年度國民中小學校長科技領導研習
						p 隨著科技發展的進步，資訊科技在未來的生活中已不可或缺，學生須具備基本的資訊知識和應用能力，在這知識爆炸的世代中懂得利用工具有效運用，擷取、分析資料進而獨立思考判斷，皆為資訊教育中重要的課題。
						P 浩鑫本次參與了104年5月12日在龍門國中進行的國民中小學校長科技領導研習，主辦單位邀請到國立台北教育大學劉遠禎教授、資策會數據科技與應用研究所張文村主任、幸安國小吳宗哲校長、台灣藝術大學通識中心陳茵嵐老師以及文昌國小、大直高中、zman魔力門部落格版主樑化楠、pagamo團隊分享資訊科技推動案例及相關訊息與介紹。
						.morecontent
							P 文昌國小黃玉貞校長分享資訊科技融入教學案例，以認識學校的蕨類為主軸所設計的一套特色課程，結合了自然與生活科技、藝術與人文、綜合活動、語文領域，讓學生透過觀察、紀錄、討論、表演、分享等各種方式學習，在各個學習環節中利用科技工具輔助運用，例如將紀錄結果分享上傳、行動載具攝影、錄影、製作專題網頁等等，老師也自行製作輔助教材電子書，透過平台讓學生的學習成果可以互相分享和觀摩。大直高中李世文校長分享UbD(Understanding by Design)創新教學方式，以TLC大直播為例的一套教學課程，結合英文、理化、地理三個領域課程，注重理解、解決問題、溝通與協調，培養學生學習帶得走的能力。
							P 資訊科技融入教學在教學運作過程中，大致上都會經歷探索和準備、熟悉和發展、實踐和創新這幾個歷程，學校必須具有完備的設施、教職員擁有基礎的科技領導素養、以及行政運作、教育資源與支援均能透過科技運用提升效率，各個環節層層相扣，以更有效發展共同願景，提升教師專業的發展，促進學生主動學習。
							P 茶敘中我們也和校長們分享浩鑫產品的成果及教學應用，EDUPAL行動圖書館除了數位閱讀之外，還提供老師自製電子書上架，並且有嵌入多媒體功能可增添教材的多元性，學生在上面可以作畫線註記，老師則透過後台報表觀察學生閱讀歷程，作為記錄和分析，讓學生課前預習，課後心得分享、成果作品上傳到平台互相觀摩，是老師們在資訊融入教學的最好幫手！
							P 浩鑫持續積極參與資訊相關研習活動，傾聽教學現場需求，以提供更好的產品應用，在行動學習的領域上不缺席！
						a.btn.btn-blue.morelink href='javascript:;' 詳全文
			#SECTION-02.section-odd
				.container
					h1.section-title
						span.section__title-icon
						span.section__title 好書報報
					h2.heading 會走路的山
					.content
						.left
							img.img src='images/assets/038/038-section-02-01.jpg' alt='會走路的山'
						table
							tr
								td style="width: 85px"
									b 出版社：
								td
									| 康軒文教事業股份有限公司
							tr
								td
									b 作者：
								td
									| 林瑋
							tr
								td
									b 繪者：
								td
									| 崔麗君
							tr
								td
									b ISBN：
								td
									| 9789861517049
						.morecontent
							table
								tr
									td style="width: 85px"
										b 推薦序：
									td
										h4 會走路的山∕林素華 國立臺中教育大學環境教育研究所副教授兼任所長
										br
										p 在虎年歲末之際，回顧台灣脆弱的環境，在歷經了許多大自然反撲的衝擊下，「山林」議題是縈繞在大家心中揮之不去的巨石。因緣際會之中，在小綠芽獎優良圖畫書評審時結識林老師，這是一場兒童文學與環境教育領域融合的創作饗宴，林老師呼應了劉禹錫〈陋室銘〉「山不在高，有仙則名」的博大胸懷，著下「會走路的山」一書-由代課老師阿宗與四對親子松鼠、刺蝟、麻雀及香菇於自然課分享山林經驗的七個故事串聯而成，讓下一代有機會閱讀到更貼近觀察描述大自然的文學佳作，同時將全球暖化、防災等概念隱含其中，引導讀者能思考出在人為開發、經濟成長及環境保育之間，該如何對待「自然山林」留下美好回憶？
										p 文中四位主人翁，皆有鮮明的刻畫，以心思細膩與好奇心重反映在對大自然的敏感度，而賞鳥與野外求生的能力正可以展現對環境的技能與行動力，在鋪陳好著急的猴子、好安靜的電塔、搬家去的老鷹、拚命逃的動物、颱風來村民跑、土石流一路倒與幸福樹養精神七組故事中，作者懷著赤子之心，以流暢的筆觸寫出自以為了解「山」的老陳、知恩圖報的阿彬、負正義感的老高、盡忠職守的阿海與退休的阿江，描繪出一幅大人對自然的互動場景。
										p 文末，點出「美景如畫一般，始終縈繞在孩子們的夢中」與自然知識的簡介，應是可以再延伸閱讀，以「珍惜幸福．尊重生命」再出發，「看見心裡的彩虹」，將可以撫平災後受創的心靈，畢竟在嚴酷的大自然反撲中，不是每個人都像書中人物一般幸運，有機會再擁抱「幸福老樹神」！
								tr
									td
										b 簡介：
									td
										p 山上的動物和植物，有「想說卻說不出口」的話。「人要的幸福」和「山要的幸福」有什麼不同？
										p 山上猴群有煩惱，想想當年山青水藍，美得不得了！山下空間怎樣都不夠，人群不停往上搬個沒完沒了。
										p 山受不了想離家出走，狂風暴雨土石流全都到。樹倒了，山崩了，屋垮了，動物逃得比誰都早。
										p 屋沒了，山沒了，樹沒了，人也搬得越遠越好。
										p 愛山的方法千百種，共同的幸福，就看我們懂不懂得與自然擁抱。
								tr
									td
										b 得獎紀錄：
									td
										ul
											li 第60梯次好書大家讀
											li 行政院新聞局第34屆中小學生優良課外讀物推介
						a.btn.btn-orange.morelink.right href='javascript:;' 詳全文
			#SECTION-03.section-even
				.container
					h1.section-title
						span.section__title-icon
						span.section__title 教育一點靈
					.content
						ul.heyper-link
							li: a href='http://www.parenting.com.tw/article/5067471-%E7%9C%9F%E5%AF%A6%E7%9A%84%E5%AD%B8%E7%BF%92%E2%94%80%E7%95%99%E4%BD%8F%E5%AD%A9%E5%AD%90%E7%9A%84%E5%A5%BD%E5%A5%87%E5%BF%83/' target='_blank' 真實的學習─留住孩子的好奇心
							li: a href='http://www.parenting.com.tw/article/5067491-%E3%80%8C%E8%B2%AC%E5%82%99%E3%80%8D%E6%98%AF%E7%82%BA%E4%BA%86%E8%A7%A3%E6%B1%BA%E5%95%8F%E9%A1%8C%EF%BC%8C%E8%80%8C%E4%B8%8D%E6%98%AF%E6%B1%A1%E8%BE%B1%E4%BA%BA/' target='_blank' 「責備」是為了解決問題，而不是污辱人
							li: a href='http://flipedu.parenting.com.tw/blog-detail?id=68' target='_blank' 誰沒有作過弊?
							li: a href='http://www.lihpao.com/?action-viewnews-itemid-119385' target='_blank' 打破分數的魔咒？
							li: a href='http://etweb.tp.edu.tw/epa/paper_show.aspx?EDM=EPS20150511071558X13' target='_blank' 教育現場的「衛星導航」現象
							li: a href='http://www.parenting.com.tw/article/5066632-%E6%96%B0%E9%AE%AE%E4%BA%8B-%E8%8A%AC%E8%98%AD%E6%95%99%E6%94%B9%EF%BC%8C%E6%8E%A8%E8%A1%8C%E3%80%8C%E4%B8%BB%E9%A1%8C%E5%BC%8F%E6%95%99%E5%AD%B8%E3%80%8D/' target='_blank' 新鮮事/芬蘭教改，推行「主題式教學」
							li: a href='http://udn.com/news/story/6888/898336-%E5%85%AC%E7%AB%8B%E5%9C%8B%E4%B8%AD%E5%B0%8F%E6%95%99%E5%B8%AB-5%E5%B9%B4%E5%85%A7%E6%B8%9B1.3%E8%90%AC%E4%BA%BA' target='_blank' 公立國中小教師 5年內減1.3萬人
							li: a href='http://udn.com/news/story/6888/892543-7%E5%B9%B4%E8%8A%B1%E5%8D%83%E8%90%AC-%E6%88%90%E5%A4%A7%E6%95%99%E6%8E%88%E3%80%8C%E9%80%BC%E3%80%8D%E5%AD%B8%E7%94%9F%E5%87%BA%E5%9C%8B' target='_blank' 7年花千萬 成大教授「逼」學生出國
							li: a href='http://udn.com/news/story/7009/907115-%E7%B4%99%E4%B8%8A%E9%80%9B%E5%9C%96%E6%9B%B8%E9%A4%A8-%E9%96%B1%E8%AE%80%E6%96%B0%E6%99%AF%E9%BB%9E' target='_blank' 紙上逛圖書館 閱讀新景點
							li: a href='https://tw.news.yahoo.com/blogs/gov-press/%E8%AE%93-%E9%AB%98%E6%96%AF-%E8%AA%AA-%E9%96%A9%E5%8D%97%E8%AA%9E-%E6%88%91%E5%80%91%E6%8A%8A%E6%95%B8%E5%AD%B8%E8%AE%8A%E5%BE%97%E4%B8%8D-032600469.html' target='_blank' 讓「高斯」說「閩南語」──我們把數學變得不一樣
		.footer
			.contact
				.container
					h3.contact-heading 取得聯繫!
					p 如果您對以上內容感興趣，想更進一步了解我們的產品，可以透過以下電子郵件與我們聯繫！
					a href='EDUPAL@tw.shuttle.com' EDUPAL@tw.shuttle.com
			.under-bar
				.container
					ul.list-nav
						li.list-item COPYRIGHT © 2015 SHUTTLE INC. ALL RIGHTS RESERVED
						li.list-item: a href='mailto:EDUPAL@tw.shuttle.com' CONTACT US
						li.list-item June, 2015
						li.list-item 第 038 期
		== javascript_include_tag \
		"//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"
		script type='text/javascript' src='./javascripts/all.js'
		javascript:
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-60618112-1', 'auto');
			ga('send', 'pageview');
		/ == livereload_js unless ENV["RACK_ENV"] == "production"