$legacy-support-for-ie: false;
@import "compass";
@import "susy";

// Variables
$total-columns  : 8; // 預設 5 欄
$column-width   : 5.125em;
$gutter-width   : 1em;
$grid-padding   : 0;

// add media
$ipad           : 48em 8;  // min-width 641px 寬度超過 641px 後的欄位數量
$desktop        : 64em 12; // min-width 779 寬度超過 779px 後的欄位數量

$color-primary: #56cad6;
$image-path: '../images';
$header-height: 366px;
$fontTC: Tahoma, Helvetica, Arial, 'Heiti TC', 'Microsoft JhengHei', "微軟正黑體", sans-serif;
$color-text-section: #555;
$color-heading: #465568;
$offset: 40px;
$offset-offset: 20px;
$color-1: #3ac0f0;
$color-2: #faae6c;
$color-3: #ed706e;
$color-nav-item01: lighten($color-1, 33%);
$color-nav-item02: lighten($color-2, 20%);
$color-nav-item03: lighten($color-3, 25%);
$size-font-base: 15;
$size-font-x-small: ($size-font-base - 2) * 1px;
$size-font-small: ($size-font-base - 1) * 1px;
$size-font-medium: $size-font-base * 1px;
$size-font-large: ($size-font-base + 1) * 1px;
$size-font-x-large: ($size-font-base + 3) * 1px;
$size-font-xx-large: ($size-font-base + 5) * 1px;
$section-icon-size: 92px;


// Mixin
@mixin primary-color() {
	background-color: $color-primary
}
@mixin ir() {
	color: transparent;
	font: 0/0 a;
	text-shadow: none;
	border: 0 none;
	display: block;
}
@mixin ir-img($image-name) {
	height: image-height('#{$image-path}/#{$image-name}.png');
	width: image-width('#{$image-path}/#{$image-name}.png');
	// background-image: url('#{$image-path}/bg-clouds-back.png');
	background-image: url('#{$image-path}/#{$image-name}.png');
	@include ir;
}



/*
 * Reset
 */
@import "compass/reset";


/*
 * Global
 */
*, *:before, *:after {
	@include box-sizing(border-box);
}
body {
	font-family: $fontTC;
	text-align: center;
}
a {
	text-decoration: none;
}
.container {
	@include container($total-columns, $ipad, $desktop);
	@include pie-clearfix;
}
.content, .footer {
	.container {
		position: relative;
		$grid-padding: 1em;
		@include container($total-columns, $ipad, $desktop);
		@include pie-clearfix;
	}
}
.section-even, .section-odd {
	b {
		font-weight: bold;
	}
	img {
		width: 100%;
	}
	p {
		margin-bottom: 1em;
	}
	ul {
		ul {
			padding-left: 2em;
		}
	}
	li {
		margin-bottom: .5em;
		p, li {
			padding-left: 2em;
		}
	}
	table {
		tr, td {
			vertical-align: top;
		}
		td {
			padding: 5px;
		}
		ul,li {
			list-style: none;
		} 
		li {
			margin-bottom: .25em;
		}
	}
}
.section-title {
	font-size: $size-font-xx-large;
	height: $section-icon-size;
	// vertical-align: top;
	position: relative;
	display: inline-block;
	margin: 0 auto;
}
/*
 * Layout
 */
@include at-breakpoint($ipad) {
	.left {
		float: left;
	}
	.right {
		float: right;
	}
}
.header {
	@include primary-color;
	height: $header-height;
	background-image: url('#{$image-path}/bg-header-icons.png');
}
.section {
}
.footer {	
	@include primary-color;
	@include box-shadow (inset 0 1px rgba(0,0,0,.16));
	background-image: url('#{$image-path}/bg-header-icons.png');
}
/*
 * HEADER
 */
%bg-header {
	background-position: center bottom;
	background-repeat: repeat-x;
}
%bg-clouds {
	@extend %bg-header;
	height: $header-height;
	bottom: 0;
	@include at-breakpoint($ipad) {
		@include box-sizing(content-box);
		height: $header-height - $offset;
		margin-bottom: $offset;
	}
}
.tap-bar {
	@extend %bg-header;
	background-image: url('#{$image-path}/bg-top-bar.png');
	height: image-height('#{$image-path}/bg-top-bar.png');
}
.bg-clouds-back {
	position: relative;
	
	@extend %bg-clouds;
	background-image: url('#{$image-path}/bg-clouds-back.png');
}
.bg-clouds-front {
	position: absolute;
	width: 100%;
	@extend %bg-clouds;
	background-image: url('#{$image-path}/bg-clouds-front.png');
	.container {
		@include at-breakpoint($ipad) {
			padding-top: 50px;
		}
	}
}
.shuttle-logo-wrapper {
	padding: 5px 0 2px 0;
	background-color: white;
	margin-bottom: 10px;
	@include at-breakpoint($ipad) {
		@include reset-box-model;
		background-color: transparent;
	}
}
.shuttle-logo {
	@include ir-img(shuttle-logo);
	margin: 10px auto;
	@include at-breakpoint($ipad) {
		float: right;
	}
}
.logo-groups {
	width: 308px;
	margin: 0 auto;
	@include pie-clearfix;
	@include at-breakpoint($ipad) {
		float: left;
	}
}
.email {
	background: url('#{$image-path}/icon-envelope.png') no-repeat;
	color: #fff;
	font-size: $size-font-medium;
	display: block;
	text-align: left;
	padding-left: 25px;
	margin-left: 4px;
	margin-bottom: 10px;
	// margin-top: -20px;
	// @include at-breakpoint($ipad) {
	// 	@extend .right;
	// }
	// padding: 15px 30px 10px;
}
.edupal-logo {
	@include ir-img(edupal-logo);
}
.left-col {
	@extend .left;
}
.nav-wrapper {
	display: none;
	@include at-breakpoint($ipad) {
		display: block;
		background: #fff;
		margin-top: ($offset * -1) - 40;
		@include pie-clearfix;
		z-index: 1;
		position: relative;
	}
}
.nav {
	margin-bottom: $offset-offset;
	@extend .right;
	@include pie-clearfix;
}
.nav-list {
	@extend %big-font;
}
%item {
	border-top: 4px solid;
	@extend .left;
	> a {
		padding: $offset-offset;
		display: block;
		text-decoration: none;
		color: $color-heading;
		&:hover {
			color: white;
		}
	}
}
.item-01 {
	@extend %item;
	border-color: $color-nav-item01;
	a:hover {
		background-color: $color-1;
	}
}
.item-02 {
	@extend %item;
	border-color: $color-nav-item02;
	a:hover {
		background-color: $color-2;
	}
}
.item-03 {
	@extend %item;
	border-color: $color-nav-item03;
	a:hover {
		background-color: $color-3;
	}
}
%big-font {
	font-size: $size-font-xx-large;
	color: $color-heading;
}
.no {
	background-color: #8cc13f;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	float: left;
}
/*
 * CONTENT
 */
%section {
	font-size: $size-font-medium;
	line-height: 1.6;
	color: $color-text-section;
	padding: 30px 0;
	.content & {	
		@include pie-clearfix;
		position: relative;
	}
}
.section-odd {
	@extend %section;
}
.section-even {
	background-color: #f2f2f2;
	@extend %section;
	@include box-shadow (inset 0 1px rgba(0,0,0,.06));
}

.section__title-icon {
	position: relative;
	float: left;
	z-index: 1;
	#SECTION-01 & {
		@include ir-img(icon-event);
	}
	#SECTION-02 & {
		@include ir-img(icon-education);
	}
	#SECTION-03 & {
		@include ir-img(icon-book-recommend);
	}
}
.section__title {
	float: left;
	padding-right: 20px;
	padding-left: ($section-icon-size/2) + 10;
	line-height: ($section-icon-size/3)*2;
	background-color: #fff;
	margin-left: ($section-icon-size/2) * -1;
	margin-top: ($section-icon-size/3) / 2;
	@include border-radius (6px);
	@include box-shadow (0 1px 3px rgba(0,0,0,.11));
	z-index: 0;
	// @for $i from 1 through 3
		// #SECTION-0#{i} & { color: $color-#{i};}
	#SECTION-01 & { color: $color-1;}
	#SECTION-02 & { color: $color-2;}
	#SECTION-03 & { color: $color-3;}
}
.heading {
	@extend %big-font;
	padding-bottom: 10px;
	margin-bottom: 30px;
	background: url('#{$image-path}/bg-heading-underline.png') repeat-x bottom;
	#SECTION-01 & { color: $color-1;}
	#SECTION-02 & { color: $color-2;}
	#SECTION-03 & { color: $color-3;}
}
@include at-breakpoint($ipad) {
	.left, .right {
		padding-bottom: 10px;
		.section-odd & {
			padding-right: 20px;
		}
		.section-even & {
			padding-left: 20px;
		}
	}
}
.img {
	display: block;
	padding: 10px;
	background-color: #E7E7E7;
}
.img-note {
	background-color: #8cc13f;
	color: #fff;
	font-size: $size-font-x-small;
	padding: 5px;
	#SECTION-01 & {
		background-color: $color-1;
	}
	#SECTION-03 & {
		background-color: $color-3;
	}
}
.btn {
	@include border-radius(2px);
	@include box-shadow(1.638px 1.147px 1px 0px rgba( 0, 0, 0, .1));
	display: block;
	text-align: center;
	vertical-align: middle;
	padding: 5px 20px;
	font-size: $size-font-large;
	color: #fff;
}
.btn-blue {
	background-color: $color-1;
}
.btn-orange {
	background-color: $color-2;
}
.btn-red {
	background-color: $color-3;
}
.heyper-link {
	text-align: center;
	a {
		color: $color-3;
		&:hover {
			color: darken($color-3, 35%);
		}
	}
	ul, li {

	}
}
/*
 * FOOTER
 */
.contact {
	padding: 60px 0;
	a {
		color: #fff;
	}
}
.contact-heading {
	font-size: 24px;
	@include text-shadow (0 1px rgba(0,0,0,.12));
	color: #fff;
	margin-bottom: 10px;
	padding-left: 48px;
	background: url('#{$image-path}/icon-mail.png') no-repeat left center;
	display: inline-block;
	+ p {
		@include text-shadow (0 1px rgba(0,0,0,.12));
		color: #fff;
		margin-bottom: 10px;
	}
}
.under-bar {
	background-color: #484848;
	@include box-shadow (inset 0 1px rgba(0,0,0,.25));
	padding: 20px 0;
}
.list-item {
	font-size: $size-font-small;
	color: #ababab;
	a {
		color: #ffebc7;
	}
	margin-bottom: 5px;
	@include at-breakpoint($ipad) {
		@extend .left;
		padding-right: 20px;
		+ .list-item  {
			border-left: 1px solid #ababab;
			padding-left: 20px;
		}
	}
}
.upper {
	vertical-align:super
}
/*
 * JS hock
 */
.morecontent {
	display: none;
}
.morelink {
	display: block;
	cursor: pointer;
	@include at-breakpoint($ipad) {
		float: left;
	}
}
@include at-breakpoint($ipad) {
	body {
		text-align: left;
	}
	img {
		max-width: 100%;
		max-width: 420px;
	}
	.section-title {
		font-size: $size-font-xx-large;
		height: $section-icon-size;
		margin-left:  $section-icon-size * -1;
		vertical-align: top;
		position: absolute;
		right: 0;
		top: ($section-icon-size/3) * -2;
	}
}

@include at-breakpoint($desktop) {
	.container {
		width: 780px;
	}
	.content, .footer {
		.container {
			width: 780px;
		}
	}
}